.u1 {
    text-decoration: underline;
}

.s1 {
    text-decoration: line-through;
}

cite {
    margin: 14px 28px;
    border: aqua solid 1px;
    padding: 7px 1%;
}

#my-best-id {
    color: green;
}

p span span {
    color: red;
}

.list-1 > ul {
    border: yellowgreen dotted 1px ;
}

ul + ul {
    border: orange dot-dot-dash 3px ;
}
